<a href="https://colab.research.google.com/github/dorisdong888/Python_Practise/blob/main/python_dictionary_exercises_group_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Dictionary Exercises**

> Indented block

Participants: Andrae, Doris, Ranjani, Jose, Zhirong, Mostafa, Ildi

In [ ]:
#Q1 Create a dictionary for all participants in the JDA program.
#Keys should be the first letter in their names, Values should be their names.
#[Hint] dic={"l":(Leul),"J":(Jerry,Jainam)........}

my_dict = {'I': 'Ildi', 'A': 'Andrae', 'R': 'Ranjani', 'J': 'Jose', 'D': 'Doris', 'Z': 'Zhirong', 'M': 'Mostafa'}
print(my_dict)

{'I': 'Ildi', 'A': 'Andrae', 'R': 'Ranjani', 'J': 'Jose', 'D': 'Doris', 'Z': 'Zhirong', 'M': 'Mostafa'}

In [ ]:
#Q2 What are the keys of your dictionary
my_dict.keys()

dict_keys(['I', 'A', 'R', 'J', 'D', 'Z', 'M'])

In [ ]:
#Q3 What are the values of your dictionary
my_dict.values()
print(my_dict.values())

dict_values(['Ildi', 'Andrae', 'Ranjani', 'Jose', 'Doris', 'Zhirong', 'Mostafa'])

In [ ]:
#Q4 Find participant's names that start with J,I,M,C,A

#solution1
letters = ['J', 'I', 'M', 'C', 'A']
for key in my_dict:
    if key[0] in letters:
        print(my_dict[key])

#solution2
letters = ['J', 'I', 'M', 'C', 'A']
names = []

for key, value in my_dict.items():
    if key[0] in letters:
        names.append(value)
        
print(names)

Ildi
Andrae
Jose
Mostafa
['Ildi', 'Andrae', 'Jose', 'Mostafa']

In [ ]:
#Q5 Add the following to your dictionary
# Key<(K,PD)>, Value<(Kristina)>

my_dict["K,PD"]="Kristina"
print(my_dict)

{'I': 'Ildi', 'A': 'Andrae', 'R': 'Ranjani', 'J': 'Jose', 'D': 'Doris', 'Z': 'Zhirong', 'M': 'Mostafa', 'K,PD': 'Kristina'}

In [ ]:
#Q6 Find the length of your dictionary
print(len(my_dict))

8

In [ ]:
#Q7 Add the following to your dictionary
# Key<(S,Instructor)>, Value<(Sarah)>
my_dict["S, Instructor"] =  "Sarah"
print(my_dict)

{'I': 'Ildi', 'A': 'Andrae', 'R': 'Ranjani', 'J': 'Jose', 'D': 'Doris', 'Z': 'Zhirong', 'M': 'Mostafa', 'K,PD': 'Kristina', 'S, Instructor': 'Sarah'}

In [ ]:
#Q8 Find the length of your dictionary
len(my_dict)

9

In [ ]:
#Q7 Delete the following keys from your dictionary
#Key<(S,Instructor)>
#Key<J>
del my_dict["S, Instructor"]
#print(my_dict)

del my_dict["J"]
print(my_dict)

{'I': 'Ildi', 'A': 'Andrae', 'R': 'Ranjani', 'D': 'Doris', 'Z': 'Zhirong', 'M': 'Mostafa', 'K,PD': 'Kristina'}

In [ ]:
#Q9 Find the length of your dictionary
print(len(my_dict))

7

In [ ]:
#Q10 Create a new dictionary called synonyms_dic
synonyms_dic = {}
print(synonyms_dic)

{}

In [ ]:
#Q11 Add the synonyms of the following words to your dictionary
#Bad, Good, Awesome, Cold, Easy, Hard, Big, Small
synonyms_dic = {"Bad": "worse", "Good":"great", "Awesome":"wacky", "Cold":"freezing", "Easy":"pz", "Hard":"difficult", "Big":"over-sized","Small":"Undersized"}
print(synonyms_dic)

{'Bad': 'worse', 'Good': 'great', 'Awesome': 'wacky', 'Cold': 'freezing', 'Easy': 'pz', 'Hard': 'difficult', 'Big': 'over-sized', 'Small': 'Undersized'}

In [ ]:
#Q12 Use your dictionary to find the synonym of the following words
# Awesome, Easy, Small, Old

word_list = ["Awesome", "Easy", "Small", "Old"]

for word in word_list:
    if word in synonyms_dic:
        print(f"The synonym of '{word}' is '{synonyms_dic[word]}'")
    else:
        print(f"No synonym found for '{word}'")

#Another Solution
#print(synonyms_dic.get("Awesome"))
#print(synonyms_dic.get("Easy"))
#print(synonyms_dic.get("Small"))
#print(synonyms_dic.get("Old"))

The synonym of 'Awesome' is 'wacky'
The synonym of 'Easy' is 'pz'
The synonym of 'Small' is 'Undersized'
No synonym found for 'Old'

In [ ]:
#Q13 Delete everything from synonyms_dic

synonyms_dic.clear()

In [ ]:
#Q14 Print all values in synonyms_dic
print(synonyms_dic)

{}

In [ ]:
#Q15 Convert the below two lists into dictionary
Keys=["True","False"]
Values=[1,0]

new_dict = {Keys[0]:Values[0], Keys[1]:Values[1]}
print(new_dict)

#Alternative solution 1
#new_dict = dict(zip(Keys,Values))
#print(new_dict)

#Alternative solution 2
#dictionary = {Keys[i]: Values[i] for i in range(len(Keys))}

{'True': 1, 'False': 0}

In [ ]:
#Q16 Sum all the values in the following dictionary
income={'Jan':1000,'Feb':1500,'Mar':980,'April':1000}
total_income = sum(income.values())
print(total_income)

4480

In [ ]:
#Q17 Create the following dictionary encryption={10:"hungry", 101:"am", 1001:"want",1101:"food",110:"I",1011:"and", 11011:"now"}
# What should be the decryption of the following code "110 101 10 1011 110 10011"

#Solution 1
#encryption={10:"hungry", 101:"am", 1001:"want",1101:"food",110:"I",1011:"and", 11011:"now"}
#keys = [ 110, 101, 10, 1011, 110, 1001, 1101, 11011]
#print(encryption)

encryption={10:"hungry", 101:"am", 1001:"want", 1101:"food", 110:"I", 1011:"and", 11011:"now"}
keys = [110, 101, 10, 1011, 110, 1001, 1101, 11011]

message = "" # creates a string with 0 characters

for key in keys: #  is a for loop that iterates through each element in the keys list.
    message += encryption[key] + " " # adding space after each word

print(message)

#Another Solution
#for key in keys:
#print("encryption word of {} is".format(key) + " " + encryption[key])

I am hungry and I want food now

In [ ]:
#Q7 Check if "Bashir" is in the list
"Bashir" in pps_L

False

In [ ]:
#Q9 Add "Bashir" to your list
pps_L.append("Bashir")
pps_L

['Abdul Wahid Khudayar',
 'Addy Rose',
 'Anuoluwapo Oluseyi',
 'Aravindh Kuppusamy Haridoss',
 'Carlo Halnin',
 'Juned Chhiboo',
 'Cici Ann Joji',
 'DHRUVKUMAR PATEL',
 'Erkan Kumesogut',
 'Exaltacao Rodrigues',
 'fatma tuncalan',
 'harpreet kaur',
 'Harun Omar-Godane',
 'Hossain Ghahraloud',
 'Jesso Thomas',
 'Kamiar Mehmannavazan',
 'Karthik Sai',
 'Kwabena Gyasi-Boateng',
 'L Reetika',
 'mariya amtullah',
 'Marwa Musa',
 'Meelad Armani',
 'Miguel Diaz',
 'Mohammad Dabbour',
 'Pouria Raziei',
 'Reena Thakur',
 'Robin Francis Thomas',
 'Rohan Thomas',
 'Ronit Soni',
 'Sameeha Bala',
 'Supriya Kanda',
 'Weslie Chung',
 'Ying Fei Li',
 'Poojan Modi',
 'Alexander Hailu',
 'Ekaterina Shalygina',
 'Nevin Tomy',
 'Jason Huang',
 'Anindita',
 'Vrunda Patel',
 'Sravan Pingali',
 'Sarah',
 'Bashir']

In [ ]:
#Q10 Find the index of the element "Sarah" in the list
pps_L.index("Sarah")

41

In [ ]:
#Q11 Change the value of the index in Q10 from "Sarah" to "Instructor"
pps_L[41]="Instructor"
print("Instructor" in pps_L)
pps_L.index("Instructor")

True

41

In [ ]:
#Q12 Find the index of the element "Bashir" in the list
pps_L.index("Bashir")

42

In [ ]:
#Q13 Change the value of the index in Q12 from "Bashir" to "Peer-Mentor"
pps_L[42]="Peer-Mentor"
print("Peer-Mentor" in pps_L)
pps_L.index("Peer-Mentor")

True

42

## **Python Tuple Exercises**

In [ ]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,31,2021)

myTuple = ("NPower","JDA","Tuesday",30,3,2021)
myTuple

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [ ]:
#Q2 What is the type of myTuple
print(type(myTuple))

<class 'tuple'>

In [ ]:
#Q3 What is the length of myTuple
print(len(myTuple))

6

In [ ]:
#Q4 print the values in each index #Use regular indexing
print(myTuple[:6])

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [ ]:
#Q5 print the values in each index #Use negative indexing 
print(myTuple[-7:-1])

('NPower', 'JDA', 'Tuesday', 30, 3)

In [ ]:
#Q6 what is the type of each value
res = list(map(type, myTuple))
res

[str, str, str, int, int, int]

In [ ]:
#Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,year
# print the variables 
(name,program,dayName,month,day,year)=myTuple
print(name)
print(program)
print(dayName)
print(month)
print(day)
print(year)

NPower
JDA
Tuesday
30
3
2021

In [ ]:
#Q8 unpack myTuple2 in the follwoeing variables name,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)

In [ ]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements
Tuple2=("Ulan",)#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value
a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)
d=Tuple2
print(type(d))
print(d)
e=test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'tuple'>
('Ulan',)
Leul

In [ ]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory
#and hold a different information
testTuple=(1,2,3)
print(testTuple)
testTuple=(4,5,6)
print(testTuple)
#But we can't change or edit a value for the existing tuple
testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: ignored

In [ ]:
#Q9 Reverse myTuple, output should looks like (2021,3,30,"Tuesday","JDA","NPower")
myTuple[::-1]

(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')

In [ ]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
A=("Coursera","course",6)
B=("week")
C=(2,"Lists","Tuple")

nestedTuple = (A, B, C)
nestedTuple

(('Coursera', 'course', 6), 'week', (2, 'Lists', 'Tuple'))

In [ ]:
#Q11 What is the output of nestedTuple[1:2]
nestedTuple[1:2]

('week',)

In [ ]:
#Q12 print each element in the nestedTuple
nestedTuple

(('Coursera', 'course', 6), 'week', (2, 'Lists', 'Tuple'))

In [ ]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
nestedTuple[2]

(2, 'Lists', 'Tuple')

In [ ]:
#Q14 Access the value "Lists" from nestedTuple
nestedTuple[2][1]

'Lists'

In [ ]:
#Q15 Access the value "Tuple" from nestedTuple
nestedTuple[2][2]

'Tuple'

In [ ]:
#Q16 Access the value "course" from nestedTuple
nestedTuple[0][1]

'course'

In [ ]:
#Q17 Concatenate myTuple with nestedTuple
myTuple=myTuple+nestedTuple
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 'week',
 (2, 'Lists', 'Tuple'))

In [ ]:
#Q18 add your name to the tuple
name=(('Kowcika'))
newTuple=(myTuple,name)
newTuple

(('NPower',
  'JDA',
  'Tuesday',
  30,
  3,
  2021,
  ('Coursera', 'course', 6),
  'week',
  (2, 'Lists', 'Tuple')),
 'Kowcika')

In [ ]:
#Q19 check whether Coursera exists within myTuple
# NOTE "in" doesn't work properly with nested tuples

In [ ]:
#Q20 check whether 55 exists within testTuple
testTuple=(1,2,33,55,6,55)
number=55
for number in testTuple:
     print("Number exists")
     break;

Number exists

In [ ]:
#Q21 Find the index of JDA in newTuple
# Find the index of 'Coursera' in newTuple
# NOTE index doesn't work properly with nested tuples # Wrong output
newTuple.index('JDA')
newTuple.index('Coursera')

ValueError: ignored

In [ ]:
#Q22 print index 8 from newTuple
newTuple[8]

IndexError: ignored

In [ ]:
#Q23 Get the 4th element from the begining of myTuple and 4th element from last 
print(newTuple[0][3])
print(newTuple[0][8][0])

30
2

In [ ]:
#Q24 Find how many times 55 appeared in testTuple [Hint: Use method count()]
testTuple.count(55)

2